@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand-orange: #FF6B35;
  --color-brand-orange-hover: #e55a29;
  --color-brand-navy: #0F172A;
  --color-brand-navy-light: #1E293B;
  --color-brand-bg-light: #F8FAFC;
}

@theme {
  --animate-marquee: marquee 25s linear infinite;
  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
}
